body {
  text-align: center;
}

body .container {
  width: 600px;
  margin: 10px auto 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  grid-row-gap: 10px;
}

body .container .pokemon {
  text-align: center;
  border: 1px solid green;
  border-radius: 3em 0;
  position: relative;
}

body .container .pokemon .pokemon-order {
  position: absolute;
  right: 20px;
  top: -5px;
  background-color: green;
  color: white;
  border-radius: 8em;
  width: 25px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container .pokemon img {
  border-radius: 8em;
}
/*# sourceMappingURL=style.css.map */