body {
  text-align: center;

  .container {
      width: 600px;
      margin: 10px auto 0 auto;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 10px;
      grid-row-gap: 10px;

    .pokemon {
      text-align: center;
      border: 1px solid green;
      border-radius: 3em 0;
      position: relative;

      .pokemon-order {
        position: absolute;
        right: 20px;
        top: -5px;
        background-color: green;
        color: white;
        border-radius: 8em;
        width: 25px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      img { border-radius: 8em; }
  }
  }
}