body div {
  background: chartreuse;
  color: blue;
}

body p {
  border: gray solid 2px;
}

body a:hover {
  background: chocolate;
  color: white;
}

body.dark {
  background: black;
}

body.dark div {
  background: white;
  color: black;
}

body.dark p {
  border-color: red;
}

body.dark a {
  background: blue;
}
/*# sourceMappingURL=style.css.map */