body {
  div{
    background: chartreuse;
    color: blue;
  }

  p{
    border: gray solid 2px;
  }

  a:hover{
    background: chocolate;
    color: white;
  }

  &.dark {
    background: black;
    div {
      background: white;
      color: black;
    }

    p {
      border-color: red;
    }

    a {
      background: blue;
    }
  }

  
}