@font-face {
  font-family: 'icomoon';
  src:  url('./../fonts/icomoon.eot?fai84c');
  src:  url('./../fonts/icomoon.eot?fai84c#iefix') format('embedded-opentype'),
    url('./../fonts/icomoon.ttf?fai84c') format('truetype'),
    url('./../fonts/icomoon.woff?fai84c') format('woff'),
    url('./../fonts/icomoon.svg?fai84c#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="hbo-"], [class*=" hbo-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hbo-logo-desktop:before {
  content: "\e900";
  color: #5ed7c6;
}
.hbo-home3:before {
  content: "\e902";
}
.hbo-play:before {
  content: "\e912";
}
